.header{display: flex; justify-content: center;}
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    min-height: 300opx;
    }
    .column {
        padding: 5px;border-radius: 10px;flex-basis: 15%;
        background: grey;
    }
    .column h1 {
        text-align: center;font-size: 22px;color: white;
    }
    .box{
        padding: 5px;  border-radius: 10px 10px 0 0;}
    .orange{background: orange;}
    .pink{background-color: pink;}
    .black{background-color: black;}
    .orange{background-color: orange;}
    .yellow{background-color: yellow;}
    .green{background-color: green;}
    .postit{
        margin: 20px;padding: 20px; border-radius: 10px;
        background: white;
    }