body {  
  background-color: white;
}

button {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 8px;
  margin: 12px;
  cursor: move;
  font-size: 30px;
  background: white;
}

.container {
  width: 70%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
  
}
.block{
  padding: 0.6rem;
  width: 30.5%;
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
}
#orange{  background-color: orange;}
#pink{  background-color: pink;}
#blue{  background-color: blue;}
#yellow{  background-color: yellow;}
.draggable.dragging {
  opacity: 0.5;
}