.Color {
    color: rgb(240, 240, 240);
}

#text {
    position: absolute;
    top: -10px;
    left: 40px;
}

/*
//Best
#text1 {
    position: absolute;
    top: 30px;
    left: 30px;
    transform: rotate(-40deg);
}
//Good
#text2 {
    position: absolute;
    top: 60px;
    left: 60px;
    transform: rotate(-40deg);
}
//Ideas
#text3 {
    position: absolute;
    top: 90px;
    left: 90px;
    transform: rotate(-40deg);
}*/

#rectangle {
    position: absolute;
    width: 630px;
    height: 700px;
    border-radius: 10%;
    background: #ff3232;
    background: -moz-linear-gradient(-45deg, #ff3232 0%, #ff7f30 14%, #f4ff30 29%, #2cea4c 43%, #2ed3f4 57%, #3173f7 72%, #ae23e0 87%, #f427dc 100%);
    background: -webkit-linear-gradient(-45deg, #ff3232 0%,#ff7f30 14%,#f4ff30 29%,#2cea4c 43%,#2ed3f4 57%,#3173f7 72%,#ae23e0 87%,#f427dc 100%);
    background: linear-gradient(135deg, #ff3232 0%,#ff7f30 14%,#f4ff30 29%,#2cea4c 43%,#2ed3f4 57%,#3173f7 72%,#ae23e0 87%,#f427dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#f427dc',GradientType=1 );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -6;
}

#circle1 {
    position: absolute;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(101, 101, 101);
    background-color: rgb(139, 139, 139);
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#circle2 {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(101, 101, 101);
    background-color: rgb(168, 168, 168);
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

#circle3 {
    position: absolute;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(101, 101, 101);
    background-color: rgb(190, 190, 190);
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
}

#circle4 {
    position: absolute;
    width: 640px;
    height: 640px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(101, 101, 101);
    background-color: rgb(208, 208, 208);
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -4;
}

#circle5 {
    position: absolute;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(101, 101, 101);
    background-color: rgb(244, 244, 244);
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
}

  .circle {
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 640px;
    border-radius: 50%;
  }
  
  .draggable {
    position: absolute;
    top: 52.5%;
    left: 50%;
    width: 100px;
    height: 100px;
    cursor: move;
  }
