<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/nav.css" type="text/css">
    <title>Document</title>
</head>
<body>

    <nav id="header">
        <a id="logo" href="#">Post It</a>
        <ul>
          <li id="site"><a href="pmi">PMI</a></li>
          <li id="site"><a href="scammper">SCAMMPER</a></li>
          <li id="site"><a href="kanban">KANBAN</a></li>
        </ul>
    
        <!-- <select>
          <option>=test=</option>
          <option>=test=</option>
          <option>=test=</option>
        </select> -->
      </nav>

</body>
</html>