<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('nav.ejs') %>
        <link rel="stylesheet" href="/stylesheets/pmi.css" type="text/css">
    </head>
    <body>
        <!-- 포스트잇 생성 -->
        <div id="board">
        </div>
        <!-- 보드 생성 -->
        <div class="board">
            <div class="circle_position">
                <div class="circle circle1">
                    <h3 id="text1">Best</h3>
                </div>
                <div class="circle circle2"></div>
                <div class="circle circle3">
                    <h3 id="text2">Good</h3>
                </div>
                <div class="circle circle4">
                    <h3 id="text3">Ideas</h3>
                </div>
                <div class="circle circle5"></div>
                <!-- <div class="circle max_circle"></div> -->
            </div>
            <div class="additional-box"></div>
            <div class="additional-box2">
                <span class="wow-text">WOW</span>&nbspCheckerboard
                <div class="toolkit-text">On-Off line Brainstorming Toolkit</div>
            </div>
            <div class="rectangle"></div>
        </div>
        <script src="/js/pmi.js"></script>
        <script src="/js/drawImg.js"></script>        
    </body>
</html>
