<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/scammper.css">
        <title>Wow Board Scamper</title>
    </head>
    <body>
        <div id="board">
          </div>
        <div class="board">
            <div class="square category"></div>
            <div class="square category"></div>
            <div class="square category"></div>
            <div class="square category"></div>
            <div class="square category"></div>
            <div class="square category"></div>
            <div class="square category"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square category"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square category"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square category"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square category"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square category"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square category"></div>
            <div class="additional-box">
                <span class="blank-text">&nbsp&nbspTheme&nbsp:</span>
            </div>
            <div class="additional-box2">
                <span class="wow-text">WOW</span>&nbspCheckerboard
                <div class="toolkit-text">On-Off line Brainstorming Toolkit</div>
            </div>
            <div class="additional-box3">
                wowidea<span class="address-text">s</span>.co.kr
            </div>
        </div>
        <script type="text/javascript" src="/js/scammper.js"></script>
    </body>
</html>  