.header{display: flex; justify-content: center;}
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    }
    .column {
        padding: 5px;border-radius: 3px;flex-basis: 15%;
        background: rgb(205, 205, 205);
        min-height: 500px;min-width: 150px;
        text-align: center;font-size: 12px;
    }
    
    .box{text-align: center;padding: 5px;border-radius: 3px;margin-bottom: 5px;}
    .blue{background: blue;color:white;}
    .orange{background: orange;}
    .pink{background-color: pink;}
    .yellow{background-color: yellow;}
    .green{background-color: green;}
    .postit{
        margin: 20px;padding: 20px; border-radius: 10px;
        background: white;
    }