.postit {
    position: absolute;
    background-size: contain;
    z-index: 2;
  }

.board {
    position: absolute;
    top: 100%; left: 50%;
    width: 1500px; height: 1500px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    transform: translate(-50%, -50%);
    padding: 77px 30px 30px 30px;
    border-radius: 70px;
    z-index: 1;
}
.square {
    width: calc(100% / 7);
    height: calc(90% / 7);
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.category {
    background-color: rgb(217, 216, 219);
}
.additional-box {
    position: relative;
    top: -1%; left: 60%;
    width: 40%;height: 90px;
    border: 1px solid #ccc;
    background-color: white;
    color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
    border-radius: 14px;
}
.additional-box2 {
    position: relative;
    top: -1%; left: -40%;
    width: 50%;height: 150px;
    background-color: white; 
    color: black;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
}
.wow-text {
    color: skyblue;
}

.toolkit-text {
    font-size: 20px;
    display: block;
}
.blank-text {
    font-size: 30px;
    color: gray;
}
.address-text {
    font-size: 9px;
    color: skyblue;
}

button{
    width: 120px;
    height: 40px;
    background-color: #ccc;
    position: absolute;
    top: 3%;
    right: 10%;
}
button:focus{ outline: 0; }
button:hover{ 
    background-color: #bbb9b9;    
    cursor: pointer;
}