* {
    box-sizing: border-box;
}

.container {
    display: flex;
}
  
.main-content {
    flex: 1;
}

aside {
    width: 200px;
    padding: 10px;
    background-color: #efefef;
}
  
.banner {
    width: 200px;
    padding: 10px;
} 

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    grid-template-rows: repeat(7, 150px);
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

#title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}